@import url("reset.css");
@import url("structural_overrides.css");

@font-face {
    font-family: "Gotham Book";
    src: url("Gotham-Book.otf"),
         url("Gotham-Book.ttf");
}
@font-face {
    font-family: "DINPro Black";
    src: url("DINPro-Black.otf"),
         url("DINPro-Black.ttf");
}


/*** GLOBAL TAGS ***/

body {
    background: #252525;
    font-family: "Gotham Book", sans;
    line-height: 24px;
}

a {
    text-decoration: underline;
}

a:link, a:visited {
    color: #000000;
}

a:hover, a:active {
    color: #333333;
}

h1 {
    font-size: 1.571em
}

h2 {
    font-size: 1.429em
}

h1, h2 { 
    font-family: "DINPro Black";
    font-weight: 400;
    margin-bottom: .5em;
    text-transform: uppercase;
}

hr {
    background-color: #252525;
    border-color: #252525;
    color: #252525;
}

input[type="button"], input[type="submit"] {
    background-color: #fcb016;
    border: none;
    height: 24px;
    text-transform: uppercase;
}

input[type="text"] {
    border: none;
    height: 24px;
    padding: 0px;
}

p {
    margin-bottom: 1.143em;
} 

p:last-child {
    margin-bottom: 0;
}

section {
    margin-bottom: 26px
}

strong {
    font-weight: bold;
}

ul#portal-globalnav {
    display: inline-block;
    list-style: none; 
    margin: 0 auto; 
} 

ul#portal-globalnav li {
    display: inline; 
    margin: 0;
}

ul#portal-globalnav a {
    display: inline-block;
}

ul#portal-globalnav li:after {
    content: " | ";
}

ul#portal-globalnav li:last-child:after {
    content: "";
}

::selection {
    background: #fcb016; 
    color: #000;
}
::-moz-selection {
    background: #fcb016; 
    color: #000;
} 

/*** SECTION-SPECIFIC ***/

/* Content */

#visual-portal-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

/* Header */

#portal-top {
    margin-top: 26px;
    margin-bottom: 12px;
}

#portal-top #portal-logo {
    margin: 0;
}

#icons {
    text-align: right;
}

#logo {
    display: table;
    width: 100%;
}

#logo img {
    display: table-cell;
    vertical-align: top;
}

#portal-personaltools-wrapper {
    float: right;
}

#portal-searchbox {
    float: right;
}

#portal-searchbox input[type="text"] {
    width: 144px;
}

/* Splash */

#splash {
    background-color: #fcb016;
    text-align: right;
}

.portaltype-plone-site.template-folder_listing #splash {
    background: url("banner-transparent.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    min-height: 324px;
}

#splash nav {
    background: #363636;
    color: #ffffff;
    display: inline-block;
    height: 49px;
    font-family: "DINPro Black";
    line-height: 49px;
    margin-top: 15px;
    text-align: center;
}

#splash nav a {
    color: #ffffff;
    padding: 0px 1em;
    text-decoration: none;
    text-transform: uppercase;
}

#splash #splash-text {
    color: #252525;
    display: inline-block;
    font-size: 12px;
    line-height: 1.4em;
    margin-bottom: 25px;
    margin-right: 25px;
    padding-top: 30px;
    text-align: left;
    width: 256px;
}

#splash h1.subsection {
    color: #252525;
    font-family: "DINPro Black";
    font-size: 6em;
    letter-spacing: 2px;
    line-height: 0.78em;
    margin-bottom: 0;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    text-align: left;
}

/* Live Show */

#live {
    background-color: #a1a1a1;
    display: table;
    padding: 20px;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#live #player {
    display: table-cell;
    width: 50%;
}

#live #player img {
    vertical-align: top;
}

#live #info {
    display: table-cell;
    width: 50%;
}

#live h1 {
    font-size: 12px;
}

/* Main Content */

#portal-columns {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-flow: row;
}

##portal-column-content, #portal-column-one, #portal-column-two {
#    display: table-cell;
#}

#portal-column-content {
    order: 1
}
#portal-column-one {
    order: 0
}
#portal-column-two {
    order: 2
}

#portal-column-content, #blog {
    background-color: #ffffff;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 40px;
    padding-top: 40px;
}

#portal-column-one {
    background-color: #fcb016;
    border-right: 20px solid #252525;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 40px;
    padding-top: 40px;
}

#portal-column-two {
    background-color: #fcb016;
    border-left: 20px solid #252525;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 40px;
    padding-top: 40px;
}

#latest {
    display: table;
}

#latest .content {
    display: table-cell;
}

#latest address, time {
    display: inline;
}

#blog {
    border-right: 20px solid #252525;
    width: 522px;
}

#rightside {
    width: 281px;
}

#show {
    background-color: #fcb016;
    border-bottom: 20px solid #252525;
    padding: 30px;
}

#news {
    background-color: #fcb016;
    padding: 30px;
}

/* Footer */

#portal-footer {
    background-color: #a1a1a1;
    margin-bottom: 26px;
    padding: 30px;
}

#cretinism-rapper {
    display: table;
    width: 100%;
}

#portal-siteactions {
    display: table-cell;
}

ul#portal-siteactions {
    display: inline;
    list-style: none; 
    margin: 0 auto; 
} 

ul#portal-siteactions li {
    display: inline; 
    margin: 0;
}

ul#portal-siteactions a {
    display: inline;
}

ul#portal-siteactions li:after {
    content: " | ";
}

ul#portal-siteactions li:last-child:after {
    content: "";
}


#about {
    display: table;
}

#mission {
    display: table-cell;
    width: 498px;
    border-right: 28px solid transparent;
}

#social {
    display: table-cell;
    width: 251px;
}

#credits {
    display: table-cell;
    text-align: right;
}
